<html>

<head>
    <style>
        body,
        h2,
        h3,
        h4 {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 100;
        }

        .wrap {
            word-break: break-all;
        }
    </style>
</head>

<body>
    <h1>Fibonacci calculator</h1>
    {{ if .requestPresent }}
    <h2><b>Requested number:</b> {{ .n }}</h2>
    <div>
        <h2 class="wrap"><b>Fibonacci number:</b> {{ .fibN }}</h2>
    </div>
    <h4><b>Calculation took:</b> {{ .elapsed }}</h4>
    {{ else }}
    <h3>Send required fibonacci sequence element number as <i>?n=[your number]</i><br>
        The number must not less than zero and not greated than {{ .limit }}
    </h3>
    {{ end }}
</body>

</html>